.dropdown-lg {
    /* display: none; */
    position: relative;
    /* float: left; */
    left: -25vw;
    width: 75vw;
}

.drop-sub {
    font-size: 0.6em;
    font-weight: lighter;
}

.drop-sub-col {
    border-right: 1px solid rgb(205, 205, 205);
}

.side-menu {
    background-color: rgb(104, 104, 104);
}

.side-menu .card-body {
    padding: 15px;
}

nav {
    opacity: 0.95;
    height: 50px;
}

.page-navbar {
    border-radius: 0 0 20px 20px;
}

.description {
    font-size: 1.2vw;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(80, 66, 66);
}

.main-raised {
    min-height: 40vh;
    border-radius: 0;
}

.p-cat-tile{
    height: 60vh;
}

.sub-cat-tile{
    height: 50vh;
}

.cat-tab-heading {
    font-weight: 600;
}

.red-tile {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8),rgba(240, 13, 13, 0.6),rgba(255, 0, 0, 0.8)), url('https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80') fixed center;
    background-size: auto;
}

.green-tile {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(19, 77, 16, 0.6), rgba(28, 71, 8, 0.8)), url('https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80') fixed center;
    background-size: auto;
}

.purple-tile {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(53, 12, 46, 0.8), rgba(89, 35, 75, 0.6)), url('https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80') fixed center;
    background-size: auto;
}

.blue-tile {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(11, 9, 36, 0.8), rgba(25, 14, 63, 0.6)), url('https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80') fixed center;
    background-size: auto;
}

.brown-tile {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(55, 32, 10, 0.8), rgba(89, 44, 16, 0.6)), url('https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80') fixed center;
    background-size: auto;
}

/***************** About *****************/

.about-title {
    font-size: 3.5vw;
}


/***************** contact us *****************/

.map-frame-lg {
    display: block;
    width: 70vw;
    height: calc(0.46296296296 * 70vw);
    max-width: 1080px; 
    max-height: 500px;
    margin: auto;
}

 

/***************** FOOTER *****************/

.footer-col {
    border-right: 1px solid rgb(80, 80, 80);
    height: auto;
}

.translucent {
    opacity: 0.9;
}

footer a,
footer p {
    color: rgb(162, 161, 161);
}

footer h3,
footer h2 {
    color: rgb(52, 109, 155);
}

footer a:hover {
    font-weight: bold;
    color: red;
}






/********************* Shopping Demo-6 **********************/

.raised-tile {
    box-shadow: 0 10px 10px -5px rgb(35, 33, 33);
}

.red-3d-cnc-tile {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8),rgba(240, 13, 13, 0.6),rgba(255, 0, 0, 0.8)), url('/assets/img/machine_images/pg-no-56-i.jpg') fixed right;
    background-size: auto;
}

.green-tile {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(19, 77, 16, 0.6), rgba(28, 71, 8, 0.8)), url('/assets/img/machine_images/roundness-measuring-machine-500x500.jpg') fixed right;
    background-size: auto;
}

/* .bg-sw-fade-down-blue-white {
    background: linear-gradient(to bottom, rgba(34, 8, 150, 0.8), rgba(17, 32, 244, 0.6), rgb(255, 255, 255));

} */

.bg-sw-lightgrey {
    /* background-color: rgb(232, 228, 228); */
    background: radial-gradient( rgb(250, 242, 242), rgb(232, 228, 228));
}

.product-drawer-homepage {
    min-height: 50vh;
}

.product-drawer-homepage  h3 {
    color: rgb(202, 202, 162);
}


.home-flex-cards {
    min-height: 30vh;
    min-width: 40vw;
    background: rgba(241, 228, 215, 0.167);
    backdrop-filter: blur(5px);
    border: 3px rgb(192, 184, 184);
}

.scrolling-wrapper{
	overflow-x: auto;
}